@{
    ViewBag.Title = "Home Page";
}
@model AnjularJS.ViewModel.IndexViewModel
<!doctype html>
<html ng-app="employApp">
    <head>
   
        <script src="~/Scripts/angular.js"></script>
    </head>

<body >
    <br><br><br>
    <div ng-controller="EmployeeListCtrl">
        <table class="table table-striped table-bordered table-condensed">
            <tr id="tr_0">
                <th>Number</th>
                <th>Name</th>
                <th>BirthDay</th>
                <th>School</th>
                <th>Address</th>
                <th>WorkExperience</th>
                <th>operate</th>
            </tr>


            <tr id="tr_0" ng-repeat="employ in employs">
                <th>{{$index+1}}</th>
                <th>{{employ.Name}}</th>
                <th>{{employ.BirthDay}}</th>
                <th>{{employ.School}}</th>
                <th>{{employ.Address}}</th>
                <th>{{employ.WorkExperience}}</th>
                <th>operate</th>
            </tr>

        </table>
    </div>
    

</body>
</html>
<script type="text/javascript">
    var TodoApp = angular.module("employApp", []);
    TodoApp.controller("EmployeeListCtrl", function ($scope, $http) {
        $http.get("/Home/Get").success(function (data) {
            $scope.employs = data;
        });
    });


</script>